body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #74ebd5, #acb6e5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: rgba(58, 138, 154, 0.508);
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  color: #333;
}

.main1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  border: 1px solid #4678c2;
  background-color: #f9f9f9;
  color: black;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}


input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #171616;
}

button {
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.main2 {
  margin-top: 30px;
  text-align: left;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  color: #393737;
  font-size: 15px;
}
